NODE_ENV=production
NUXT_ENV_HOST=https://llama-p.vercel.app
FIREBASE_CONFIG={"apiKey":"<apiKey>","authDomain":"<authDomain>","databaseURL":"<databaseURL>","projectId":"<projectId>","storageBucket":"<storageBucket>","messagingSenderId":"<messagingSenderId>","appId":"<appId>"}
